* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*:focus {
    outline: 0;
}

// Typo
* {
    transition: 0.3s all linear;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background-color: #ffffff !important;
    font-family: $roboto;
    font-size: 14px;
    line-height: 28pxpx;
    font-weight: 400;
    width: 100%;
    overflow-x: hidden;
    /* typoraphy */
    h1 {
        font-family: $roboto;
        font-size: 48px;
        line-height: 60px;
        font-weight: bold;
        @include bp(xl-max) {
            font-size: 48px;
            line-height: 58px;
        }
        @include bp(lg-max) {
            font-size: 44px;
            line-height: 52px;
        }
        @include bp(xxs-max) {
            font-size: 32px;
        }
        @include bp(sm-max) {
            font-size: 34px;
            line-height: 42px;
        }
    }
    section {
        padding: 80px 0;
        @include bp(xl-max) {
            padding: 60px 0;
        }
        @include bp(lg-max) {
            padding: 50px 0;
        }
    }
    h2,
    h3 {
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
    }
    h2 {
        @include bp(md-max) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 20px;
        line-height: 28px;
        @include bp(lg-max) {
            font-size: 18px;
        }
    }
    .p1 {
        font-size: 22px;
        line-height: 32px;
        font-weight: normal;
    }
    .p2 {
        font-size: 18px !important;
        font-weight: 400;
        margin-bottom: 15px;
        line-height: 1.7;
        color: #505353;
        a {
            color: #0c3761;
            font-weight: 500;
            &:hover {
                color: #009999;
            }
        }
        @include bp(xl-max) {
            font-size: 16px !important;
        }
        @include bp(lg-max) {
            font-size: 14px !important;
        }
    }
    input[type="submit"] {
        border: 1px solid #009999 !important;
        border-radius: 10px !important;
        background-color: #009999 !important;
        color: #fff !important;
        &:hover {
            background-color: #fff !important;
            color: #009999 !important;
        }
    }
    .error404 {
        .btn {
            box-shadow: 1px 1px 7px 0px #e1dfdf;
        }
    }
    .btn,
    input[type="submit"] {
        position: relative;
        display: inline-block;
        overflow: hidden;
        text-transform: uppercase;
        border: 0;
        font-size: 14px;
        padding: 10px 25px;
        background-color: #009999;
        border-radius: 8px;
        border: 2px solid #60d6d64d;
        color: #fff;
        &.btn-white {
            background-color: #fff;
            color: #009999;
            border: 1px solid #009999;
            & > span.text {
                color: #009999;
            }
            & > span.effect {
                background-color: #009999;
            }
            &:hover {
                color: #fff;
                border-color: #009999;
                & > span.text {
                    color: #fff;
                }
            }
        }
        & > span.text {
            z-index: 2;
            position: relative;
        }
        & > span.effect {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: #f7f7f7;
            transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
        &:hover {
            color: #009999;
            span.effect {
                width: 225%;
                height: 562.5px;
            }
        }
        &:active {
            background-color: #5a6d4c;
        }
    }
    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
    }
    .gp-website:focus {
        color: #8fc069 !important;
    }
    .btn.btn-outline-primary {
        color: #8fc069;
        border-color: #8fc069;
        background-color: transparent;
    }
    .btn-outline-primary:hover {
        background-color: #8fc069;
        color: #fff;
        border-color: #8fc069;
    }
    .link {
        color: #969;
        font-size: 18px;
        @include bp(sm-max) {
            font-size: 16px;
            img {
                width: 16px;
            }
        }
    }
    .bgPrimary {
        background-color: #0c3761 !important;
    }
    .textPrimary {
        color: #0c3761;
    }
    .textSecondry {
        color: #009999;
    }
    // Media
    .title-heading {
        text-align: center;
        padding: 0 15px;
        h2 {
            color: #0c3761;
            font-size: 48px;
            padding-bottom: 20px;
            margin-bottom: 30px;
            line-height: 50px;
            display: inline-block;
            position: relative;
            font-weight: bold;
            font-family: $roboto;
            @include bp(xl-max){
                font-size: 42px;
            }
            @include bp(lg-max){
                font-size: 36px;
            }
            @include bp(md-max){
                font-size: 32px;
                line-height: 42px;
            }
            @include bp(sm-max){
                font-size: 28px;
                line-height: 42px;
            }
            @include bp(xs-max){
                font-size: 24px;
                line-height: 34px;
            }
            span {
                font-weight: bold;
                color: #009999;
            }
            .heading-border {
                position: absolute;
                bottom: 0;
                height: 2px;
                width: 100px;
                background-color: #99cccc;
                left: calc(50% - 50px);
                display: none;
            }
        }
        h3 {
            color: #414042;
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 15px;
            @include bp(sm-max) {
                font-size: 16px;
            }
        }
    }
}

.circle-animation {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: absolute;
    top: 60%;
    right: 6%;
}

.circle-animation .span1,
.circle-animation .span2,
.circle-animation .span3,
.circle-animation .span4 {
    content: "";
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid rgba(0, 89, 105, 0.03);
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 15s linear infinite;
}

.circle-animation .span2 {
    animation-delay: 4s;
}

.circle-animation .span3 {
    animation-delay: 8s;
}

.circle-animation .span4 {
    animation-delay: 12s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(30);
        opacity: 0;
    }
}

.circle-animation.canim-2 {
    right: auto;
    left: -24px;
    top: 20%;
}

.product-feature {
    .accordion {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .accordion-content-item {
            width: 48%;
            margin-bottom: 40px;
            @include bp(md-max) {
                width: 100%;
            }
        }
        .accordion-item:last-of-type {
            .accordion-button {
                &.collapsed {
                    background-color: transparent !important;
                    font-size: 16px;
                    color: #0d3862 !important;
                    font-weight: 500;
                    border: 1px solid #0d3862 !important;
                    border-radius: 10px;
                    min-height: 56px;
                    padding: 12px 20px !important;
                    &:hover {
                        background-color: #7ba75a;
                        color: #ffffff;
                        border: 1px solid #7ba75a;
                    }
                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                }
            }
        }
        .accordion-item {
            margin: 0;
            border-top: 0;
            border-radius: 10px;
            overflow: hidden;
            &[aria-expanded="true"] {
                background-color: #7ba75a !important;
                color: #ffffff !important;
                border: 1px solid #7ba75a !important;
                min-height: 90px;
            }
            .accordion-button {
                &:after {
                    background-image: url("../../images/plus-circle.svg");
                }
                &:not(.collapsed) {
                    &::after {
                        background-image: url("../../images/minus-circle.svg");
                    }
                }
            }
        }
    }
}

body {
    .accordion-button:not(.collapsed) {
        color: #fff !important;
        background-color: #0d3862 !important;
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    }
    .bg-gd-green-light {
        background: transparent linear-gradient(180deg, #fff 0, rgba(153, 204, 204, 0.5) 100%) 0 0 no-repeat padding-box;
    }
}

body {
    .tab-within-tab-section {
        &.testing-services {
            .product-feature-tab {
                @include bp(xs-max) {
                    padding: 0 10px;
                }
                ul {
                    li {
                        a {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .product-feature-tab {
            width: 1000px;
            margin: auto;
            max-width: 100%;
            & > span {
                display: none;
            }
            ul {
                justify-content: space-between;
                border: 1px solid #f0f0f0;
                border-radius: 16px;
                overflow: hidden;
                li {
                    width: 33.33%;
                    text-align: center;
                    a {
                        padding: 15px;
                        white-space: inherit !important;
                        height: 100%;
                        &:hover {
                            color: $PrussianBlue;
                        }
                        &.nav-link {
                            &.active {
                                background-color: $PrussianBlue;
                                color: #fff !important;
                                border-radius: 0;
                                .icon {
                                    svg {
                                        fill: #fff !important;
                                        path {
                                            fill: #fff !important;
                                        }
                                    }
                                }
                            }
                        }
                        .icon {
                            display: inline-block;
                            width: 100%;
                            margin-bottom: 10px;
                            svg {
                                width: 70px;
                                height: 60px;
                                @include bp(sm-max) {
                                    width: 50px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .tab-within-subtab-section {
            & > .tab-content {
                & > section {
                    section {
                        padding: 0;
                    }
                    p {
                        text-align: center;
                        font-size: 16px;
                        position: relative;
                        &.qutes {
                            text-align: center;
                            font-size: 18px;
                            width: 1000px;
                            margin: auto;
                            position: relative;
                            margin-top: 150px;
                            max-width: 100%;
                            &::after {
                                content: "";
                                background-image: url(../../images/left-quote.png) !important;
                                position: absolute;
                                background-size: contain;
                                background-repeat: no-repeat;
                                width: 72px;
                                height: 74px;
                                top: -95px;
                                background-position: center center;
                                left: calc(50% - 36px);
                            }
                        }
                    }
                }
                .nav-tabs {
                    justify-content: center;
                    border-bottom: 0px;
                    li {
                        a {
                            &.nav-link {
                                font-size: 14px;
                                margin: 5px 5px;
                                border: 0;
                                color: #3b3a3a;
                                line-height: 1.5;
                                @include bp(md-max) {
                                    padding: 8px 13px;
                                    font-size: 13px;
                                }
                                &.active {
                                    color: #fff;
                                    background-color: $PrussianBlue;
                                    text-align: center;
                                    border-radius: 10px;
                                    &:hover {
                                        color: #fff;
                                    }
                                    &:active {
                                        color: #fff;
                                    }
                                }
                                &:hover {
                                    border: 0;
                                    color: $PrussianBlue;
                                }
                            }
                        }
                    }
                }
                .tabWt-tb-content {
                    padding-top: 40px;
                    text-align: center;
                    img {
                        width: 800px;
                        margin: auto;
                        margin-top: 40px;
                        max-width: 100%;
                    }
                }
            }
        }
        &.use-case {
            .icon-list-item {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .icon-item {
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    .icon {
                        height: 90px;
                        width: 90px;
                        display: inline-block;
                        margin: auto;
                        margin-bottom: 15px;
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            height: 50px;
                            width: 50px;
                            background-color: rgb(153 102 153 / 40%);
                            border-radius: 50%;
                            transition: 0.3s all linear;
                        }
                        & + p {
                            display: inline-block;
                            margin: auto;
                            font-weight: 500;
                        }
                    }
                    svg {
                        height: 80px !important;
                        width: 93px !important;
                        fill: #0c3761 !important;
                        transition: 0.3s all linear;
                        position: relative;
                        transform: scale(0.7);
                        right: -15px;
                        top: -10px;
                    }
                    &:hover {
                        .icon {
                            height: 90px;
                            width: 90px;
                            &::after {
                                left: 0;
                                bottom: 0;
                                width: 90px;
                                height: 90px;
                                background-color: rgb(153 102 153 / 100%);
                            }
                        }
                        svg {
                            right: 0px;
                            top: 0px;
                            fill: #fff;
                            z-index: 2;
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
            .product-feature-tab {
                width: 800px;
            }
            .tab-content {
                .nav-tabs {
                    display: none;
                }
            }
        }
    }
}

.CTA-btn {
    &.btn-white {
        .btn {
            background-color: #fff;
            color: #969;
        }
    }
}

.thankyou-banner {
    display: none;
}

.thankyou-banner .banner-inner-content .row {
    flex-wrap: wrap;
}

.thankyou-banner .banner-inner-content .d-flex {
    width: 100%;
    justify-content: center;
}

.thankyou-banner .banner-inner-content .col-lg-7 {
    width: 100%;
}

.thankyou-banner .banner-inner-content h1 {
    text-align: right;
}

.thankyou-banner.banner-content .banner-inner-content {
    background-position: 0 50px;
}

.error404 {
    // header{
    //   background-color: #0F3764;
    // }
    .thankyou-banner {
        .banner-inner-content {
            padding: 0 30px;
        }
    }
    .contact-form-content {
        display: none;
    }
}

video {
    @include bp(sm-max) {
        height: auto !important;
    }
}

.not-found-page {
    padding-top: 160px;
    padding-bottom: 120px;
}

.title-white {
    .title-heading {
        h2,
        h3 {
            color: #fff !important;
        }
        h3 {
            width: 1200px;
            max-width: 100%;
            margin: auto;
            margin-bottom: 30px;
        }
    }
}

.thankyou-content {
    background-color: #f5f5f5 !important;
    .icon {
        width: 100px;
        margin: auto;
        margin-top: 40px;
        @include bp(sm-max) {
            width: 60px;
            margin-top: 0;
        }
    }
    h3 {
        text-align: CENTER;
        font-size: 36px;
        margin: 38px 0 50px;
        color: #32bea6;
        line-height: 1.3;
        @include bp(sm-max) {
            font-size: 24px;
        }
    }
    .thy-content {
        width: 900px;
        max-width: 100%;
        margin: auto;
        padding: 20px 30px;
        border-radius: 14px;
        box-shadow: 0px 0px 4px 1px #f2f2f2;
        border-bottom: 5px solid #009999;
    }
}

#myVideo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grecaptcha-badge {
    z-index: 3;
}

.submit-button {
    margin-top: 20px;
}

.submit-button .custom-cf7-spinner {
    display: inline-block;
    position: relative;
}

.submit-button input {
    margin-top: 0 !important;
}

.submit-button .wpcf7-spinner {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    margin: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.hide-mobile {
    display: block;
    @include bp(sm-max) {
        display: none;
    }
}

.show-mobile {
    display: none;
    @include bp(sm-max) {
        display: block;
    }
}

.pointer-list {
    padding-left: 0;
    list-style-type: none;
    padding-left: 20px;
    text-align: left;
    li {
        position: relative;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 1.3;
        font-family: Roboto, sans-serif;
        @include bp(sm-max) {
            font-size: 14px;
        }
        &::after {
            content: "";
            position: absolute;
            left: -20px;
            width: 6px;
            height: 6px;
            background-color: #009999;
            border-radius: 50%;
            top: 8px;
        }
    }
}

.error404 {
    header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.148);
    }
    .not-found-page {
        padding-top: 40px;
        padding-bottom: 0;
    }
    .footer {
        .footer-container {
            background-color: transparent;
        }
    }
}

p {
    font-size: 14px;
}

.bg-gd-green {
    background: transparent linear-gradient(50deg, #0f3764 0%, #009999 100%) 0% 0% no-repeat padding-box !important;
}

.taxtech-architect {
    position: relative;
    padding-top: 0;
    .container {
        @include bp(sm-max){
          width: 100%;
          max-width: 100%;
        } 
        & > div {
            padding-left: 450px;
            @include bp(lg-max){
                padding-left: 357px;
            }
            @include bp(md-max){
                padding-left: 200px;
            }
            @include bp(sm-max){
                padding-left: 15px;
            }           
        }
    }
    .title-heading {
        text-align: left;
        @include bp(sm-max){
            background: transparent linear-gradient(270deg, #0f3764 0%, #009999 100%) 0% 0% no-repeat padding-box;
            margin-bottom: 49px;
            margin-left: -15px !important;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            background: transparent linear-gradient(270deg, #0f3764 0%, #009999 100%) 0% 0% no-repeat padding-box;
            top: 0;
            height: 180px;
            @include bp(md-max){
                height: 125px;
            }
            @include bp(xs-max){
                height: 110px;
            }
            @include bp(sm-max){
                display: none;
            }    
        }
        h2 {
            margin-bottom: 40px;
            padding: 65px 0;
            position: relative;
            z-index: 1;
            color: #fff;
            @include bp(xl-max){
                padding: 40px 0; 
            }
            @include bp(md-max){
                padding: 20px 0; 
            }
            @include bp(sm-max){
                padding-left: 200px;
                margin-bottom: 0;
            }
            @include bp(xs-max){
                padding-left: 0;
            }
        }
    }
    .ins-img {
        position: ABSOLUTE;
        top: -59px;
        left: 0;
        @include bp(lg-max){
            width:350px;
            // bottom: -2px;
            // top: auto !important;
        }
        @include bp(md-max){
            width: 230px;
            // top: auto;
        }
        @include bp(sm-max){
            width: 215px;
            top: -27px;
        }
      
         @include bp(xs-max){
           display: none;
        }
    }
    &.we-are-proud {
        .title-heading {
            position: relative;
            width: 100%;
            &::after {
                content: "";
                display: none;
            }
            h2 {
                margin-bottom: 0;
                padding: 0 0;
                position: absolute;
                left: 0;
                top: -51px;
                background: transparent linear-gradient(270deg, #60d6d6 0, #fff 100%) 0 0 no-repeat padding-box;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1607843137);
                border-radius: 0 44px 44px 0;
                color: #0c3761;
                padding: 20px 74px;
                @include bp(sm-max){
                    padding-left: 50px !important;
                }
                @include bp(sm-max){
                    padding-left: 30px!important;
                    padding-right: 40px !important;
                }
            }
        }
        .ins-img {
            top: -95px;
            z-index: 1;
            @include bp(md-max){
                top: auto;
            }
        }
    }
    &.about-facts {
        position: relative;

        .title-heading {
            h2{
                @include bp(sm-max){
                    padding-left: 20px !important;
                   }
            }
            h3 {
                .left-img img {
                    z-index: 1;
                    position: absolute;
                    left: 30px;
                    top: -120px;
                    @include bp(xl-max){
                        left: 10px;
                    }
                    @include bp(md-max){
                        width: 211px;
                        top: -90px;
                    }
                    @include bp(sm-max){
                       display: none;
                    }
                }
            }
        }
        .icon-box-list{
            padding-top: 100px;
            @include bp(lg-max){
                padding-left: 270px;
            }
            @include bp(md-max){
                padding-left: 160px;
            }
            @include bp(sm-max){
              padding-left: 0;
              padding-top: 80px;
             }
            & > div{
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                @include bp(sm-max){
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                    border-right: 0px
                   }
                &:last-child{
                    border-right: 0;
                    @include bp(sm-max){
                        border-bottom: 0;
                      }
                }
                @include bp(md-max){
                    width: 33.33%;
                }
                @include bp(sm-max){
                    width: 100%;
                }
            }
            .icon-box{
                padding: 0; 
                background-color: transparent;
                box-shadow: none;
                .icon-box-inner{
                    text-align: center;
                }
                .icon-box-title-content{
                    h3{
                        font-weight: normal;
                        color: #fff;
                        font-size: 18px;
                        @include bp(lg-max){
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        
    }
}

.architect-help .pointer-list {
    background: transparent linear-gradient(50deg, #0f3764 0%, #009999 100%) 0% 0% no-repeat padding-box;
    padding: 30px;
    border-radius: 8px;
    color: #fff;
    width: 550px;
    max-width: 100%;
    @include bp(md-max){
        width: 100%;
    }
    @include bp(sm-max){
        padding: 15px;
    }
    li {
        min-height: 48px;
        align-items: center;
        display: flex;
        padding-left: 78px;
        font-size: 16px;
        @include bp(sm-max){
            padding-left: 40px;
        }
        &::after {
            content: "\f00c";
            font-family: "Font Awesome 5 Pro";
            width: 48px;
            height: 48px;
            background-color: #ffffff;
            border-radius: 50%;
            top: 0px;
            left: 0;
            color: #099;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            @include bp(sm-max){
                width: 30px;
                height: 30px;
            }
        }
    }
}

.block-structure {
    .container {
        position: relative;
        padding-left: 475px;
        @include bp(md-max){
            padding-left: 0;
        }
        @include bp(sm-max){
            padding-left: 15px;
        }
    }
    .title-heading {
        position: absolute;
        left: 0;
        top: 0;
        min-width: 450px;
        width: 450px;
        text-align: left;
        @include bp(md-max){
            position: static;
            margin-bottom: 30px;
            min-width: 100%;
            text-align: center;
        }
        @include bp(sm-max){
            min-width: auto;
            max-width: 100%;
            margin: auto;
            margin-bottom: 30px;
        }
        
        h2 {
            margin-bottom: 0;
            padding-bottom: 0;
            font-size: 48px;
            line-height: 60px;
            @include bp(xl-max){
                font-size: 42px;
            }
            @include bp(lg-max){
                font-size: 36px;
            }
            @include bp(md-max){
                font-size: 32px;
                line-height: 42px;
            }
            @include bp(xs-max){
                font-size: 24px;
                line-height: 32px;
                
            }
        }
    }
    p {
        color: #fff;
        @include bp(sm-max){
            text-align: center;
        }
    }
}

.pd-fr-video {
    padding-bottom: 245px;
}

.our-smart-philosophy-video {
    z-index: 2;
    position: relative;
    .brand-vid {
        width: 800px;
        margin: auto;
        max-width: 100%;
        border-radius: 20px;
        overflow: hidden;
        margin-top: -250px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 8px 32px #00000014;
        border: 1px solid #eceef1;
    }
    &.global-indirect-vd{
        .brand-vid{
            margin-top: 0px;
            #sub-frame-error{
                background-color: #fff !important;
            }
        }
    }
}

.wholesome-solutions {
    padding-top: 160px;
    @include bp(md-max){
        padding-top: 60px;
    }
    @include bp(sm-max){
        padding-top: 40px;
    }
    .container {
        position: relative;
    }
    .title-heading {
        position: relative;
        padding: 30px 0;
        margin-bottom: 40px;
        text-align: left;
        @include bp(md-max){
            padding-right: 150px;
        }
        @include bp(sm-max){
            padding-right: 0px;
        }
        @include bp(xs-max){
            padding-right: 30px;
        }

        h2 {
            color: #0f3764;
            font-size: 32px;
            text-align: left;
            font-weight: bold;
            font-family: $roboto;
            position: relative;
            z-index: 1;
            margin-bottom: 0;
            width: 660px;
            max-width: 100%;
            line-height: 40px;
            padding-bottom: 0;
            @include bp(md-max){
                padding-right: 160px;
            }
            @include bp(sm-max){
                padding-right: 0px;
            }
            @include bp(xs-max){
                font-size: 24px;
                line-height: 1.3;
            }
        }
        h3 {
            font-size: 24px;
            line-height: 40px;
            color: #414042;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: transparent linear-gradient(90deg, #60d6d65f 0%, #fcfcfc 100%) 0% 0% no-repeat padding-box;
        }
    }
    .title-img-content {
        position: absolute;
        right: 0;
        top: -80px;
        @include bp(md-max){
            position: absolute;
            right: 0;
            bottom: 40px;
            top: auto;
        }
        @include bp(sm-max){
            width: 100px;
        }
    }

    &.about-notice-mg {
            @include bp(md-max){
                padding-top: 190px;
            }
        .title-heading {
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            justify-content: flex-start;
            h3 {
                margin-top: -122px;
                width: 800px;
                margin-bottom: 32px;
                @include bp(md-max){
                    width: auto;
                    margin-top: -165px;
                }
            }
        }
        .title-img-content{
            @include bp(sm-max){
                display: none;
            }
            &:after{
                top: 42px;
            }
            img{
                width: 230px;
            }
        }
    }
}

.proud-point {
    padding-top: 68px;
    .proud-item {
        text-align: center;
        color: #fcfcfc;
        margin-bottom: 30px;
        h3 {
            width: 172px;
            height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            margin: auto;
            background-image: url("../../images/aw-img.svg");
            background-size: cover;
            background-repeat: no-repeat;
            font-size: 24px;
            @include bp(md-max){
                width: 130px;
                height: 123px;
                font-size: 18px;
            }
        }
        p {
            margin-top: 15px;
        }
    }
}

.text-green {
    color: #009999;
}

.gst-points {
    .in-item {
        background: #f1f3f6 0% 0% no-repeat padding-box;
        border-radius: 8px;
        padding: 30px;
        height: 100%;
        display: inline-block;
        width: 100%;
        h3 {
            margin-bottom: 15px;
            color: #000;
            font-size: 18px;
            position: relative;
            &::after {
                content: "\f063";
                font-family: "Font Awesome 5 Pro";
                /* width: 48px; */
                /* height: 48px; */
                /* background-color: #fff; */
                border-radius: 50%;
                top: -18px;
                right: -14px;
                color: #9d9d9d;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                position: absolute;
                transform: rotate(-135deg);
            }
        }
        // &:hover{
        // }
    }
    & > div {
        & > p {
            display: none;
        }
    }
    .col-md-3{
        @include bp(md-max){
        width: 50%;
        margin: 10px 0;
        }
        @include bp(xs-max){
            width: 100%;
            margin: 10px 0;
            }
    }
}

.aboutus-title-cn-bg {
    padding: 30px;
    text-align: center;
    background: #0f3764 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #00000029;
    border-radius: 8px;
    color: #fff;
    height: 100%;
    @include bp(md-max){
        padding: 15px;
    }
    h2 {
        margin-bottom: 30px;
        span {
            color: #009999;
        }
    }
    p {
        margin-bottom: 15px;
    }
}

.vd-right-content {
    background-color: #f3f3f3;
    .brand-vid {
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 8px 16px #00000029;
        border: 1px solid #f1f3f6;
        border-radius: 8px;
    }
}

// beadcrum css
.sticky-main-cls {
    position: fixed;
    bottom: 20px;
    z-index: 4;
    right: 97px;
    background: #242632 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #00000029;
    border: 2px solid #414042;
    border-radius: 8px;
    color: #fff;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    .btn {
        background-color: #60d6d6 !important;
        color: #0f3764 !important;
        padding: 8px 20px !important;
        margin-left: 20px;
        border: 0;
    }

    .dropdown-menu {
        background: #fcfcfc 0 0 no-repeat padding-box;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1607843137);
        border-radius: 8px;
        opacity: 1;
        padding: 15px 20px;
        right: -22px !important;
        left: auto !important;
        bottom: 46px !important;
        transform: none !important;
        li {
            text-align: right;

            a {
                font-size: 14px;
                color: #0c3761;
                display: inline-block;
                width: 100%;
                margin: 10px 0;
                font-weight: 500;
                &:hover {
                    font-size: 14px;
                    background-color: transparent;
                    color: #009999;
                    font-weight: 500;
                }
            }
        }
    }
    .sticky-left-cls {
        font-size: 18px;
        a {
            color: #9d9d9d;
        }
    }
}
.pb-500 {
    padding-bottom: 500px !important;
}
.pb-250{
    padding-bottom: 250px;
}
.pb-160{
    padding-bottom: 160px;
}
.idp-invoice{
    .idp-content{
        display: flex;

        .blue-box{
            width: 264px;
            padding: 30px;
            .inner-content{
                text-align: center;
                color: #fff;
                h2{
                    margin-bottom: 15px;
                    font-size: 32px;
                    span{
                        color: #60D6D6;
                    }
                }
               
            }
        }
        .left{
            width: calc(100% - 264px);
            padding-right: 30px;
            .idp-list-cn{
                background-color: #F1F3F6;
                border-radius: 8px;
                padding: 30px;
                h2{
                    font-size: 32px;
                    color: #0c3761;
                    margin-bottom: 30px;
                    span{
                        color: #009999;
                    }
                }

                ul{
                    padding-left: 0;
                    list-style-type: none;
                    li{
                        background-color: #fff;
                        border-radius: 8px;
                        padding: 20px;
                        margin-bottom: 10px;
                        font-size: 18px;
                        color: #0c3761;
                        font-weight: 500;
                        line-height: 28px;                       
                        position: relative;
                        display: flex;
                        align-items: center;
                        & > span{
                            min-width: 48px;
                            height: 48px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
                            background: #0F3764 0% 0% no-repeat padding-box;
                            box-shadow: 0px 8px 16px #00000029;
                            border-radius: 8px;
                            color: #fff;
                            margin-right: 20px;
                        }
                        &:nth-child(2){
                            span{
                             background-color: #60D6D6;
                            }
                        }
                        &:last-child{
                            margin-bottom: 0;
                            span{
                                background-color: #009999;
                            }
                        }
                    }
                }
            }
        }
    }
}
.process-sec-cta{
    padding: 0 !important;
    height: 0;
    .btn{
        margin-top: -188px;
    }
}
.purchase-invoice{
    .col-left{
        width: 264px !important;
        min-width: 264px !important;
        max-width: 264px !important;
        @include bp(sm-max){
            min-width: 100% !important;
            max-width: 100% !important;
        }
    }
    .aboutus-title-cn-bg{
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% + 115px);
        z-index: 1;
        position: relative;
        @include bp(md-max){
            height: calc(100% + 80px);
        }
        h2{
            @include bp(md-max){
                font-size: 22px;
                line-height: 1.3;
            }
        }
       
    }
}
.point-item-list{
    background-color: #F1F3F6;
    overflow: hidden;
    border-radius: 8px;
    height: 100%;

    h3{
        background-color: #0F3764;
        color: #fff;
        text-align: center;
        font-weight: normal;
        font-size: 18px !important;
        padding: 5px;
        margin-bottom: 15px !important;
    }
    ul{
        list-style-type: none;
        padding-left: 52px !important;

    }
}
.check-point-list {
    padding-left: 0;
    list-style-type: none;
    padding-left: 20px;
    text-align: left;
    padding-left: 32px;
    li{
        font-size: 14px;
        line-height: 28px;
        position: relative;
        margin-bottom: 15px;
        font-family: Roboto,sans-serif;
        &::after{
            content: "\f00c";
            font-family: "Font Awesome 5 Pro";
            width: 16px;
            height: 16px;
            background-color: #099;
            border-radius: 50%;
            top: 6px;
            left: -31px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            position: absolute;
        }
    }
}
.ot-sol-content{
    padding: 10px 15px;
    background: transparent linear-gradient(101deg, #F1F3F6 0%, #FCFCFC 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #F1F3F6;
    border-radius: 8px;
    margin: 10px 0;
    height: calc(100% - 20px);

    h3{
        margin-bottom: 10px !important;
        color: #009999;
        font-size: 16px;
    }

}
.enhance-your-business{
    .title-heading{
        h2{
            @include bp(md-max){
                padding-left: 300px !important;
                padding-right: 34px !important;
            }
            
        }
    }
    h2{
        padding-top: 160px;
        padding-bottom: 40px;
        font-size: 48px;
        line-height: 60px;
        @include bp(xl-max){
            padding-top: 100px;
          }
        @include bp(lg-max){
            font-size: 42px;
            line-height: 1.4;
          }
        @include bp(md-max){       
            font-size: 38px;
          }
        @include bp(sm-max){       
            font-size: 32px;
          }
     
    }
    .ins-img{
      @include bp(xl-max){
        width: 335px;
      }
      @include bp(lg-max){
        width: 275px;
        top:-82px !important;
      }
      @include bp(md-max){
        width: 204px;
      }
      @include bp(sm-max){
       display: none;
      }
    }
    p{
        font-size: 22px;
        color: #fff;
    }
}
.uninterrupted-compliance{
    .two-colum-content{
        @include bp(sm-max){
            flex-direction: column !important;
        }
    }
    .uc-inner-content{
        background: #F1F3F6 0% 0% no-repeat padding-box;
        border-radius: 40px 0px 0px 40px;
        padding: 60px;
        @include bp(md-max){
            padding: 30px;          
        }
        @include bp(sm-max){
         margin-bottom: 15px;
        }
        h3{
            font-size: 48px;
            color: #009999;
            line-height: 1.1;
            @include bp(lg-max){
                font-size: 42px;
            }
            @include bp(md-max){
                font-size: 32px;              
            }
            @include bp(sm-max){
                font-size: 24px;              
            }
            span{
                color: #0c3761;
            }
        }       
    }
    .col-right{
        @include bp(lg-max){
            padding-left: 0 !important;
            padding-right: 15px !important;
        }
    }
}
.GoBeyond{
    margin-top: 100px;
    position: relative;
    @include bp(xs-max){
        margin-top: 30px;
    }
        &::after{
            content: "";
            position: absolute;
            background-image: url(../../images/GoBeyond.svg);
            bottom: 0;
            width: 446px;
            z-index: 7;
            top: -134px;
            background-repeat: no-repeat;
            background-size: cover;
            @include bp(lg-max){
                background-size: contain;
                width: 380px;
            }
            @include bp(md-max){
                background-size: contain;
                width: 260px;
            }
            @include bp(sm-max){
                display: none;
            }
        }
        .icon-box-list{
            padding-top: 80px;
            padding-left: 400px !important;
            @include bp(md-max){
                padding-left: 230px !important;
            }
            @include bp(sm-max){
                padding-left: 0 !important;
            }
            & > div{
                width: 33.33%;
                @include bp(md-max){
                    width: 50%;
                }
                @include bp(xs-max){
                    width: 100%;
                }
                .icon-box {
                    text-align: center;
                    background-color: transparent;
                    box-shadow: none;
                    border: 1px solid #ffffff38;
                    padding: 20px 15px 30px;
                    @include bp(md-max){
                        padding: 15px 8px 15px;
                    }
                    
                    h3{
                        font-weight: normal;
                        font-size: 18px;
                        color: #fff;
                        @include bp(md-max){
                            font-weight: 400;
                            font-size: 14px;
                            color: #fff;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
        .title-heading{
            h2{
                padding-left: 220px !important;
            }
        }
}
.compliance-requirements-sec{
    padding-top: 0;

    & > .container{
        width: 100%;
        max-width: 100%;
        padding: 0;
        & > .title-heading{
            padding-top: 80px;
            background-color: #ECEEF1;
            padding-bottom: 80px;
            @include bp(lg-max){
                padding-top: 60px;
                background-color: #eceef1;
                padding-bottom: 30px; 
            }
        }
        .tab-inner-content{
            .tab-col-left{
                width: 100%;
                min-width: 100% !important;
                padding-right: 0 !important;
            }
        }
        & > .row{
            margin: 0;
            & > div{
                padding: 0;
            }
        }
       
    }
    #e-Invoicing-tab{
        margin-top: -52px;
        border-bottom: 0;
    }
}
.compliant-onboarding-cn{
    color: #fff;
    .cm-on-list{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        @include bp(md-max){
            flex-wrap: wrap;
        }
        .left{
            width: 362px;
            display: flex;
            @include bp(md-max){
                width: 100%;
            }
            .cm-left{
                background: rgba(36,38,50,.1607843137) 0 0 no-repeat padding-box;
                border-radius: 8px;
                padding: 30px;
                height: 100%;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                align-content: center;
                @include bp(md-max){
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                }
               h3{
                margin-bottom: 15px;
                width: 100%;
               }
            }
        }
        .right{
            width: calc(100% - 400px);
            @include bp(md-max){
                width: 100%;
            }
            .check-point-list{
                background: transparent linear-gradient(103deg, #60D6D652 0%, #00999952 100%) 0% 0% no-repeat padding-box;
                border: 2px solid #60D6D629;
                border-radius: 8px;
                padding: 30px;
                padding-left: 30px;
                height: 100%;               
                display: flex;
                flex-wrap: wrap;
                @include bp(md-max){
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                }
                    li{
                        width: 50%;
                        padding-right: 10px;
                        padding-left: 26px;
                        @include bp(sm-max){
                            width: 100%;
                        }
                        &::after{
                        
                            left: 0px;
                            background-color: #198089;
                        }
                    }
              
            }
        }
    }
}
.compliant-onboarding-content{
    margin-top: -50px;
    @include bp(lg-max){
        padding-top: 80px;
    }
    .title-heading {
        margin-bottom: 50px;
        h2{
            margin-bottom: 0;
        }
    }
}
.post-box{
    background-image: url(../../images/topbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .title-heading{
        margin-bottom: 50px;
        @include bp(xs-max){
            padding: 0;
        }
        h2{
            @include bp(xs-max){
                margin-bottom: 0;
            }  
        }
        h2, h3{
        color: #fff;
        }
    }
    .icon-box-list{
        & > div{
            @include bp(md-max){
                width: 50%;
            }
            @include bp(xs-max){
                width: 100%;
            }
        }
        .icon-box{
            background: transparent linear-gradient(131deg, #60D6D652 0%, #00999952 100%) 0% 0% no-repeat padding-box;
            box-shadow: 0px 8px 16px #00000029;
            border: 2px solid #60D6D629;
            border-radius: 8px;
            padding: 0;
            &:hover{
                box-shadow: none;
            }
            .icon-box-inner{
                color: #fff;
                height: 100%;
            }
            .icon-box-title-content{
               background: #60D6D629 0% 0% no-repeat padding-box;
                border-radius: 8px 8px 0px 0px;
                padding: 20px;
                margin-bottom: 0;
                @include bp(lg-max){
                    padding: 8px;
                }
                @include bp(md-max){
                    padding: 20px;
                }
                h3{
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    @include bp(xl-max){
                        font-size: 16px;
                    }
                    @include bp(lg-max){
                        font-size: 14px;
                    }

                }
            }
            .iconbox-description{
                margin-bottom: 0;
                padding: 20px;
                color: #fff;
                font-size: 14px !important;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                height: calc(100% - 68px);
                @include bp(lg-max){
                    padding: 8px;
                    height: calc(100% - 44px);
                }
                @include bp(md-max){
                    padding: 20px;
                    height: calc(100% - 68px);
                }
                a{
                    display: inline-block;
                    margin-left: auto;
                    color: #60D6D6;
                }
                .action{
                    width: 100%;
                    text-align: right;
                    position: relative;
                    margin-top: 20px;
                    &::after{
                        content: '';
                        height: 1px;
                        background: #60D6D629;
                        position: absolute;
                        left: 0;
                        top: calc(50% - .5px);                    
                        right: 87px;

                    }
                }
            }
        }
    }
}
.easy-connectors-sec{
    .col-right{
        margin-bottom: 30px;
    }
}
.tow-col-title-content{
    .tow-col-inner-content{
        display: flex;
        align-items: center;
        color: #fff;
        @include bp(md-max){
            flex-wrap: wrap;
        }
        .left{
            width: 500px;
            @include bp(md-max){
               width: 100%;
               text-align: center;
            }
            h2{
                font-size: 48px;
                line-height: 1.4;
                @include bp(lg-max){
                    font-size: 42px;
                }
                @include bp(md-max){
                    font-size: 36px;
                    line-height: 1.3;
                    margin-bottom: 30px;
                }
                @include bp(sm-max){
                    font-size: 32px;
                }
                @include bp(xs-max){
                    font-size: 28px;
                }
            }
        }
        .right{
            width: calc(100% - 500px);
            padding-left: 30px;
            @include bp(md-max){
                width: 100%;
                padding-left: 0px;
             }
        }
        p{
            margin-bottom: 15px;
            font-size: 16px;
        }
    }
}
.AboutVAT-returns{
    .features{
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        margin-bottom: 40px;
        @include bp(sm-max){
            padding: 15px;
        }
        h3{
            text-align: center;
            color: #009999;
            font-size: 24px;
            margin-bottom: 30px;
            font-weight: 500;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            align-items: center;
            li{
                width: 50%;
                font-size: 16px;
                color: #000;
                font-weight: 500;
                padding-left: 78px;
                min-height: 48px;
                display: flex;
                align-items: center;
                padding-right: 30px;
                @include bp(sm-max){
                    width: 100%;
                    padding-right: 0;
                    padding-left: 45px;
                }
                &:after{
                    width: 48px;
                    height: 48px;
                    background-color: #f1f3f6;
                    color: #099;
                    font-size: 22px;
                    left: 0;
                    top: 0;
                    @include bp(sm-max){
                        width: 30px;
                        height: 30px;
                        font-size: 16px;
                    }
                }
            }
        }    
    }
    .desc{
        background: transparent linear-gradient(277deg, #009999 0%, #0F3764 100%) 0% 0% no-repeat padding-box;
        border-radius: 8px;
        text-align: center;
        padding: 30px 75px;
        color: #fff;
        line-height: 1.3;
        @include bp(md-max){
            font-size:16px;
        }
        @include bp(sm-max){
            padding: 15px;
        }
    }
}
.case-study-business{
    margin-top: 100px;
    .title-heading{
        h2{
            @include bp(xl-max){
                padding-left: 450px !important;
            }
            @include bp(md-max){
                padding-left: 250px !important;
            }
        }
    }
   
    p{
        color: #fff;
        font-size: 18px;
        margin-top: 15px;
    }
    h2{
        font-size: 32px;
        padding-top: 80px;
    }
    .ins-img{
        @include bp(sm-max){
            display: none;
        }
    }
}
.about-vat-claim{
  .desc{
    padding: 50px;
    color: #fff;
    font-size: 42px;
    border-radius: 8px;
    @include bp(lg-max){
        font-size: 38px;
    }
    @include bp(md-max){
        font-size: 32px;
    }
    @include bp(sm-max){
        font-size: 28px;
        padding: 30px;
    }
    @include bp(xs-max){
        font-size: 24px;
        padding: 30px 15px;
    }
  }  
}
.features-muwafaq {
    .check-point-list{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        li{
            width: 50%;
            padding-right: 30px;
            font-size: 18px;
            padding-left: 30px;
            &::after{
                left: 0;
            }
        }
    }
    .content-title-heading {
        h2{
            background: transparent linear-gradient(270deg, #009999 0%, #0F3764 100%) 0% 0% no-repeat padding-box;
            border-radius: 90px 0px 0px 90px;
            padding: 30px;
            font-size: 48px;
            color: #fff !important;
            padding-left: 80px;
            line-height: 1.5 !important;
        }
    }
}