.about-pill-section{
    & > div{
        display: flex;
        align-items:center ;
        @include bp(md-max){
            flex-wrap: wrap;
        }
        .title-heading{
            background-color: #0F3764;
            min-width: 550px;
            border-radius: 100px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            display: flex;
            align-items: center;
            margin-right: 40px;
            justify-content: flex-end;
            padding:40px 50px 40px 30px;
            @include bp(lg-max){
                min-width: 450px;
                padding:40px 50px 40px 0;
            }
            @include bp(md-max){
                padding:20px 50px 20px 0;
                margin-bottom: 20px;
            }
            @include bp(xs-max){
                min-width: auto;
                width: 100%;
                margin-right: 0;
                padding-left: 30px;
            }
            h2{
                margin-bottom: 0;
                padding-bottom: 0;
                line-height: 1.5;
                color: #fff;
                text-align: right;
                font-size: 36px;
                @include bp(md-max){
                    font-size: 32px;
                }
                @include bp(sm-max){
                    font-size: 28px;
                }
                @include bp(xs-max){
                    font-size: 24px;
                }
                span{
                    color:#60D6D6;
                }
            }
        }
    }
}