.about-pill-section{
    & > div{
        display: flex;
        align-items:flex-start ;
        .title-heading{
            background-color: #0F3764;
            min-width: 550px;
            border-radius: 100px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            display: flex;
            align-items: center;
            margin-right: 40px;
            justify-content: flex-end;
            padding:80px 50px 80px 0;
            @include bp(lg-max){
                min-width: 450px;
            }
            h2{
                margin-bottom: 0;
                padding-bottom: 0;
                color: #fff;
                span{
                    color:#60D6D6;
                }
            }
        }
    }
}