.client-logos{
    .client-logo-slider{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        align-content: stretch;
        .item{
            padding: 20px 30px;
            @include bp(xs-max){
                padding: 20px 12px;
            }
            img{
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
                width: 150px;
                height: 72px;
                object-fit: contain;
                @include bp(sm-max){
                    width:auto;
                    height: 70px;
                    object-fit: contain;
                    margin: auto;
                }
            }
            &:hover{
                img{
                    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(0%);
                }
            }
        }
    }
}

