.count-section{
    position: relative;
    z-index: 1;
    &.banner-count{
        padding: 0;
        .count-section-main-inner{  
            margin-top: -108px;
            @include bp(sm-max){
               margin-top: 45px;
               flex-wrap: wrap; 
            }
            .count-inner{
                width: 25%;
                text-align: center;
                @include bp(md-max){
                    padding: 0 8px;
                }    
                @include bp(sm-max){
                    width: 100%;
                    padding: 8px 8px;
                 }
               
                .count-inner-content{
                    @include bp(md-max){
                        padding: 0 8px 18px;
                    }   
                    @include bp(sm-max){
                        padding: 15px 8px 15px 75px;
                        text-align: left;
                        position: relative;
                    }   
                }           
                .icon{
                    margin: auto;
                    margin-top: -38px;
                    margin-bottom: 20px;
                    @include bp(md-max){
                        width: 60px;
                        height: 60px;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }  
                    @include bp(sm-max){
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        left: 10px;
                        top: calc(50% - 25px);
                        margin-top: auto;
                    }
                    .count-label{
                        h2{
                            @include bp(md-max){
                                font-size: 24px;
                            } 
                        }
                    } 
                }
            }
        }
    }
    .count-section-main-inner{      
     display: flex;
     margin: 0 -15px;
     @include bp(md-max){
        margin: 0 0px;
     }
    }
    .count-inner{
        color:#fff;
        padding: 0 15px;
        .count-inner-content{
            background: transparent linear-gradient(121deg, #0F3764 0%, #009999 100%) 0% 0% no-repeat padding-box;
            border: 2px solid #60D6D629;
            border-radius: 8px;
            padding: 0px 60px 18px;
            height: 100%;
            @include bp(xl-max){
                padding: 0px 45px 18px;
            }
            @include bp(lg-max){
                padding: 0px 15px 18px;
            }
        }
        .icon{
            background: transparent linear-gradient(135deg, #60D6D6 0%, #009999 100%) 0% 0% no-repeat padding-box;
            padding: 15px 20px;
            box-shadow: 0px 8px 16px #00000029;
            border-radius: 8px;
            width: 76px;
            height: 76px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include bp(lg-max){
                width: 60px;
                height: 60px;
                padding: 8px;
            }
            @include bp(md-max){
                width: 50px;
                height: 50px;
                padding: 8px;
            }
            
            svg{
                width: 40px;
                height: 48px;
                fill: #fff;
                path{
                    fill: #fff;
                    stroke: #fff !important;
                }
            }
            
        }
        .count-label{
            margin-bottom: 7px;
            h2{
                @include bp(lg-max){
                    font-size: 28px;
                }
                @include bp(xs-max){
                    font-size: 22px;
                    line-height: 1.3;
                 }
            }
        }
        .count-value{
                font-size: 14px;
                font-weight: normal;
                line-height: 20px;
                min-height: 66px;
                @include bp(sm-max){
                    min-height: auto;
                }
        }
    }
    &.count-challenges{
        .container{
            position: relative;
        }
        .title-heading{
            width: calc(100% - 830px);
            text-align: right;
            position: absolute;
            top: 100px;
            right: 0;
            @include bp(lg-max){
                width: calc(100% - 600px);
            }
            @include bp(md-max){
                position: static;
                width: 100%;
                text-align: center;
            }
            h2{
                font-size: 48px;
                line-height: 60px;
                @include bp(lg-max){
                    font-size: 42px;
                }
                @include bp(md-max){
                    font-size: 32px;
                    line-height: 1.3;
                }
                @include bp(xs-max){
                    font-size: 24px;
                }
                span{
                    color: #60D6D6;
                }
            }
        }
        .count-section-main-inner{
            flex-wrap: wrap;
            width: 100%;
            max-width: 800px;
            @include bp(lg-max){
                max-width: 600px;
            }
            @include bp(md-max){
                max-width: 100%;
            }
            .count-inner{
                width:50%;
                margin: 15px 0;
                @include bp(sm-max){
                    width:100%;
                }
                .count-inner-content{
                    position: relative;
                    padding: 30px;
                    padding-left: 126px;
                    background: transparent linear-gradient(111deg, #60D6D652 0%, #00999952 100%) 0% 0% no-repeat padding-box;
                    box-shadow: 0px 8px 16px #00000029;
                    border: 2px solid #60D6D629;
                    border-radius: 8px;
                    @include bp(lg-max){
                        padding: 15px;
                        padding-left: 90px;
                    }
                  
                    .icon{
                        position: absolute;
                        left: 30px;
                        @include bp(lg-max){
                            left: 15px;
                        }
                        @include bp(md-max){
                            left: 15px;
                        }
                    }
                }
            }
        }
    }
}