
.insight-sec-new {
    .insights-inner {
        display: flex;
        justify-content: space-between;
        @include bp(md-max){
            flex-wrap: wrap;
           
        }
        .insights-card {
            width: 31%;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            overflow: hidden;
            border: 0;
            transition: .3s all linear;
            @include bp(md-max){
                width: 48%;
                margin-top: 30px;
                &:nth-child(2),
                &:nth-child(1){
                    margin-top: 0;
                }
            }
            @include bp(sm-max){
                width: 100%;
                &:nth-child(2){
                    margin-top: 30px;
                }
            }
           
        }
     
       
        
    }

    .insights-card{

        .card-body {
            padding: 0;
        }
        .insight-in-content {
            padding: 20px 15px;
            border-top: 0;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            display: flex;
            flex-wrap: wrap;
            height: calc(100% - 225px);
            .slider-title{
                width: 100%;
            }
            h2 {
                font-weight: 500;
                font-size: 22px;
                line-height: 26px;
                margin-bottom: 20px;                
                a {
                    color: #0C3761 !important;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 26px;
                }
            }
            .tag-category{
                width: 100%;
            & > a {
                display: flex;
                align-items: center;
                color: #ffffff;
                margin-top: auto;
                background-color: #173962;
                display: inline-block;
                padding: 5px 10px;
                border-radius: 10px;
                font-size: 14px;
                margin-bottom: 10px;
                // img {
                //     width: 10px;
                //     margin-left: 10px;
                // }
            }
        }
        .btn-type2{
            margin-top: auto;
        }
        }
        .client-details {
            height: 225px;
            background-size: cover;
            background-position: center center;
            transition: .3s all linear;
            border-radius: 20px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .short-decoration{
            width: 100%;
            .p2{
                font-size: 16px !important;
                margin-bottom: 10px;
            }
        }
        &:hover{
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.16), 0 10px 10px rgba(0, 0, 0, 0.16);
            .insight-in-content {
                border-color: transparent;
               .slider-title{
                    a{
                        color: #009999 !important;
                    }
                }
            }
            .client-details {
                background-color: #0C3761;
                background-blend-mode: multiply;
                background-size: cover
                // border-bottom-right-radius: 150px;
            
            }
           
        }
       
        
    }
}

