.tab-section{
    .nav-tabs{
        justify-content: space-between;
        align-content: flex-end;
        background-color: #fff;
        position: sticky;
        top: 65px;
        border-bottom: 4px solid #ECEEF1;
        z-index: 9;
        .slider-nav{
            position: absolute;
            background-color: #099;
            height: 4px;
            bottom: -4px;
            border-radius: 2px;
            width: 245px !important;
        }
        li{
            width: 245px;
            a{
                font-size: 18px;
                color: #9d9d9d;
                text-align: center;
                font-weight: 500;
                line-height: 28px;
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                border: 0 !important;
                &:hover,
                &:focus,
                &:focus-visible{
                    border: 0;
                }
                &.active{
                   
                        color: #009999;  
                   
                }
            }
           
        }
    }
    .tab-content{
        .in-content{
            display: flex; 
            align-items: center;
            padding: 60px 0;
            .tab-col-left{
                padding-right: 70px;
                min-width: calc(100% - 800px);
                .img{
                    background: #0099990A 0% 0% no-repeat padding-box;
                    border-radius: 8px;
                    opacity: 1;
                    width: 68px;
                    height: 68px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                    svg{
                        width: 40px;
                        height: 40px;
                        fill: #009999;
                        path{
                            fill: #009999;
                        }
                    }
                }
                .title{
                    margin-bottom: 20px;
                }
                .desc{
                    color: #414042;
                    margin-bottom: 20px;
                    p{
                        line-height: 20px;
                    }
                }
            }           
            .tab-col-right{
                width: 100%;
                min-width: 800px;
                .tab-box-item{
                    background-color: #fff;
                    padding: 30px;
                    border-radius: 8px;
                    border: 1px solid #F1F3F6;
                    margin: 15px 0;
                    height: calc(100% - 30px);
                    h3{
                        font-size: 18px;
                        margin-bottom: 15px;
                    }
                    p{
                        color: #414042;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
                .tab-inner-box-item{
                    .tab-box-item{
                        background: transparent linear-gradient(112deg, #F1F3F6 0%, #FCFCFC 100%) 0% 0% no-repeat padding-box;
                        border: 1px solid #F1F3F6;
                        h3{
                            color: #009999;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}