.testimonial-section {
    padding-bottom: 480px;
    .title-heading{
        text-align: left;
        margin-bottom: 50px;
        h2{
            color: #fff;
            padding-bottom: 16px;
            margin-bottom: 0;
            font-size: 48px;
            @include bp(lg-max){
                font-size: 42px;
            }
            @include bp(md-max){
                font-size: 36px;
            }
            @include bp(sm-max){
                font-size: 32px;
            }
            @include bp(xs-max){
                font-size: 24px;
            }
        }
        h3{
            font-size: 24px;
            font-weight: 500;
            color: #fff;
            @include bp(sm-max){
                font-size: 20px;
            }
            @include bp(xs-max){
                font-size: 18px;
            }
        }
    }
    .testimonial-slider{
        .slick-track{
            display: flex;
        }
        
        .slick-slide{
                padding:  15px 15px 0;
                display: flex;
                height: auto;

        }
        .testimonial-content {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 8px 16px #00000029;
            border: 1px solid #F1F3F6;
            border-radius: 8px;
            padding: 30px;
            height: 100%;
        }
        .short-decoration{
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            align-items: flex-start;
            flex-direction: column;

            &::after{
                content: "";
                background-image: url(../../images/qoutes.svg);
                position: absolute;
                top: 0px;
                width: 60px;
                height: 34px;
                background-repeat: no-repeat;
            }
            .p2{
                font-size: 14px !important;
                width: 100%;
                margin-bottom: auto;
            }
            h3{
                color: #009999;
                font-size: 18px;  
                font-weight: 500;      
                width: 100%;   
                line-height: 1.3;
                margin-bottom: 10px;
              
            }
            .designation{
                color: #414042;
                font-weight: 500;
                font-size: 14px;
                width: 100%;
                line-height: 1.3;
            }
        }
        .slick-arrow{
            position: absolute;
            right: 0;
            top: 0;
            top: -100px;
            width: 48px;
            height: 48px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #009999;
            font-size: 28px;
            @include bp(sm-max){
                width: 35px;
              height: 35px;
              top: -45px;
              right: 8px;
            }
            &:last-child{
                right: 72px;
                @include bp(sm-max){
                    right: 54px;
                }
            }
        }
    }
    
}
.slick-dots{
    list-style-type:none ;
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    li{
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
        &.slick-active{
            opacity: 1;
        }
        button{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #099 !important;     
            margin: 0 5px;
            padding: 0;
            border: 0;
            color: transparent !important;
        }
    }
}