.zickzack-section{
    .title-heading{
        h2{
            font-size: 48px;
        }
    }
    .zick-zack-content{
        .zick-zack-inner-content{
            margin: 55px 0;
            display: inline-block;
             width: 100%;
            .zig-zag-inner-div{
                display: flex;
                align-items: center;
               
                .col-img{
                    width: 656px;
                    height: 363px;
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border: 1px solid #F1F3F6;
                    border-radius: 8px;
                    .img-content{
                        height: 100%;
                        width: 100%;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        
                    }
                }
                .col-text{
                    width: calc(100% - 656px);
                    padding-left: 30px;
                    h3{
                        font-size: 32px;
                        line-height: 40px;
                        margin-bottom: 30px;
                    }
                }
            }
            &:nth-child(odd){
                
                .zig-zag-inner-div{
                    flex-direction: row-reverse;
                    .col-text{
                        padding-left: 0;
                        padding-right: 30px;
                    }
                }
            }
            
        }
    }
    &.zickzack-with-title{
        .zick-zack-content{
            .zick-zack-inner-content{
                .col-img{
                    display: none;
                }
                .col-text{
                    width: 100%;
                    padding: 0;
                    .text-content{
                        h3{
                            background-color: #0f3764;
                            min-width: 400px;                           
                            border-radius: 100px;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            display: flex;
                            align-items: center;
                            margin-right: 40px;
                            justify-content: flex-end;
                            padding: 80px 50px 80px 0;
                            color: #fff;
                            text-align: right;
                        }
                         & > div{
                            display: flex;
                            padding: 0;
                            align-items: center;
                            & > .row{
                                min-width: calc(100% - 400px);
                                max-width: calc(100% - 400px);
                            }
                         }
                    }
                }
                &:nth-child(even){
                    .col-text{
                        .text-content{
                            & > div{
                                flex-direction: row-reverse;
                                 h3{
                                    margin-left: 30px;
                                    margin-right: 0;
                                    
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                    border-top-left-radius: 100px;
                                    border-bottom-left-radius: 100px;
                                    text-align: left;
                                    padding-left: 50px;
                                 }
                            }
                        }
                    }
                }
            }
        }
    }
}